.upper-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    display: flex;
    gap: 10px;
}

.search {
    height: 20px;
}

.menu {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.menu__item {
    border: 1px solid black;
}