.footer {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > .container {
    display: flex;
    align-items: center;
}

.info {
    margin-right: 100px;
    display: flex;
    gap: 70px;
}

.links {
    display: flex;
}

.links a {
    width: 50%;
}

.links img {
    width: 50%;
}